@font-face {
    font-family: ProximaNova; /* Имя шрифта */
    src: url(/fonts/ProximaNovaLight.otf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: TrajanPro3; /* Имя шрифта */
    src: url(/fonts/TrajanPro3-Regular.otf);
}

@font-face{font-family:'Gilroy';src:url('/fonts/Gilroy-Light.otf');src:url('/fonts/Gilroy-Light.eot?#iefix') format('embedded-opentype'),
url('/fonts/Gilroy-Light.woff') format('woff'),
url('/fonts/Gilroy-Light.ttf') format('truetype'),
url('/fonts/Gilroy-Light.svg#JournalRegular') format('svg');font-weight:normal;font-style:normal;}

.navbar-nav>li>a {
    color: #000;
    font: 9pt Gilroy;
    font-weight: 600;
    padding: calc(100vh/68.2) 0px 1px;
    margin: 0px 15px calc(100vh/68.2);
}
.navbar-nav>li>a:hover {
    padding: calc(100vh/68.2) 0px 1px;
    margin: 0px 15px calc( (100vh/68.2) - 2px);
    border-bottom: 2px solid #000000;
    text-decoration: none;
    background-color: transparent;
}
.navbar-nav>li>a:focus {
    background-color: transparent;
}
.container-new {
    width: calc(100vh/0.735213);
    margin-left: auto;
    margin-right: auto;
}
h1 {
    margin-bottom: calc(100vh/102);
    margin-top: calc(100vh/51);
    font-size: calc(100vh/13.4);
    font-family: Times New Roman;
    letter-spacing: 15px;
/*    text-shadow: 1px -1px 1px #989898;*/
    z-index: 1051;
    position: relative;
    color: #000;
    font-weight: bold;
}

h3 {
    font-family: TrajanPro3;
    font-size: calc(100vh/24.3);
    text-transform: uppercase;
    color: #000;
    letter-spacing: 4px;
}

.showmanlooking {
    margin-top: 40px;
}

.mensphoto {
    width: 20%;
    padding: 10px;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
}

.mensphoto:hover {
    width: 20%;
    padding: 0px;
    cursor: pointer;
    -webkit-transform: scale(1.01);
    -moz-transform: scale(1.01);
    -o-transform: scale(1.01);
}
.mensphoto img:hover {

    -moz-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.7);
    -webkit-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.7);
    box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.7);
}

.mensallphoto {
    display: flex;
    margin: calc(60vh/13.5) 0px;
    height: calc(100vh/3.6);
}
.mensallphoto a {
    text-decoration: none;
}

.mensphoto img {
    width: 100%;
}

.mensphoto h4 {
    font-size: 17px;
    margin-top: 0px;
    padding: 4px 0px;
    margin-bottom: 0px;
    text-align: center;
    /* background: rgba(0,0,0,0.5); */
    color: #000;
    font-family: ProximaNova;
    display: none;
}

.mensphotosecond {
    width: 80%;
    margin-left: 10%;
    margin-bottom: calc(100vh/24);
}

.mensphotosecond .mensphoto {
    width: 25%;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
}

.footer {
    border-top: 1px solid #000;
    padding-top: 5px;
}

.footer .hashtag {
    width: 1%;
    display: table-cell;
}

.footer .hashtag a {
    color: #000;
}

.footer .hashtag span {
    font: 7pt ProximaNova;
    text-align: left;
}

.social img {
    margin: 7px;
    padding: 2px;
}

.footer .hashtag .hash {
    font: 12pt Gilroy;
    text-align: left;
    letter-spacing: 1px;
}
.modal-dialog {
    margin-top: 10%;
}

.modal-content {
    border-radius: 0px !important;
    padding-bottom: 20px;
    padding-top: 20px;
}

.modal-content .avatar {
    margin-top: 15px;
    width: 90%;
}

.modal-content h2 {
    margin-top: 10px !important;
    font: 12pt Times New Roman;
    letter-spacing: 3px;
    font-weight: bold;
}

.modal-content h5 {
    font: 13pt Times New Roman;
    letter-spacing: 2px;
    font-weight: bold;
}

.modal-content p {
    font: 9pt Times New Roman;
    letter-spacing: 1px;
    font-weight: bold;
    text-align: left;
}

.modal-content number {
    margin-top: 12px !important;
    font: 12pt Times New Roman;
    letter-spacing: 1px;
    font-weight: bold;
    text-decoration: underline;
}

.modal-content img {
    margin: 2px;
}

.modal-backdrop.in {
    opacity: 0.8 !important;
}

.showmanlooking h1 {
    font: 30pt Gilroy;
    letter-spacing: 6px;
    margin-top: -6px;
    margin-bottom: 15px;
}
.showmanlooking .under_fio {
    border-top: 1px solid #909090;
    width: 25%;
    margin: 20px 0 10px 13%;
}
.showmanlooking h2 {
    font: 20px Gilroy;
    font-style: italic;
    letter-spacing: 1px;
}
.showmanlooking p {
    font: 14px Gilroy;
}
.showmanlooking .under_p {
    font-size: 15px;
    font-weight: bold;
}
.showmanlooking .under_p_v2 {
    font-size: 25px;
}
.showmanlooking h3 {
    font: 15px Gilroy;
    text-align: left;
    font-weight: bold;
    margin-top: 25px;
    letter-spacing: 3px;
}
.showmanlooking .phone {
    font: 20px Gilroy;
    color: #b4b4b4;
    text-decoration: none;
    vertical-align: middle;
}
.showmanlooking .phone span:hover {
    color: #000000;
}
.showmanlooking .phonebutton {
    background-color: transparent;
    text-transform: uppercase;
    border-radius: 5px;
    border: 1px solid #b4b4b4;
    font-size: 0.7em;
    padding: 10px 18px;
    color: #b4b4b4;
}
.showmanlooking .phonebutton:hover {
    color: #000;
    border-color: #000;
}
.showmanlooking .phone img {
    width: 30px;
    background: #E8E8E8;
    border-radius: 100%;
    opacity: .5;
    -webkit-transition: opacity .2s;
    transition: opacity .2s;
}
.showmanlooking .phone img:hover {
    opacity: 1;
    -webkit-transition: opacity .2s;
    transition: opacity .2s;
}
.showmanlooking .left-block p{
    color: #b4b4b4;
}
.showmanlooking .socnetwork {
    margin-top: 25px;
}
.showmanlooking .socnetwork img {
    width: 30px;
    margin: 0px 4px;
    background: #E8E8E8;
    border-radius: 100%;
    opacity: .5;
    -webkit-transition: opacity .2s;
    transition: opacity .2s;
}
.showmanlooking .socnetwork img:hover {
    opacity: 1;
    -webkit-transition: opacity .2s;
    transition: opacity .2s;
}
.five-photo{
    margin: 30px 0px;
}
.five-photo img {
    width: 100%;
}
.givemeshow {
    border-top: 1px solid #777;
    padding: 25px 0px;
    text-align: center;
    font: 25px Times New Roman;
    font-weight: bold;
    width: 95%;
    margin-left: 2.5%;
}
.givemeshow a {
    color: #000;
    text-decoration: none;
}
.givemeshow a:hover {
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}
.my-gallery {
    width: 100%;
    float: left;
}
.my-gallery img {
    width: 100%;
    height: auto;
    -moz-transition: all 0.1s ease-out;
     -o-transition: all 0.1s ease-out;
     -webkit-transition: all 0.1s ease-out;
}
.my-gallery img:hover {
    -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
}
.my-gallery figure {
    display: block;
    float: left;
    margin: 0 1.5% 0 1.5%;
    width: 17%;
}
.video-go {
    display: block;
    float: left;
    margin: 0 1.5% 0 1.5%;
    width: 17%;
}
.video-frame-2 {
    width: 10%;
    height: 100%;
    background-color: #000;
    position: fixed;
    z-index: 102;
    text-align: center;
    opacity: 0.1;
    display: none;
    left: 50%;
    top: 50%;
}
.video-frame-2 #youtube {
    top: 15%;
    position: absolute;
    left: 20%;
}
.my-gallery figcaption {
    display: none;
}

.about-right p {
    margin: 0px;
}

.topsm {
    width: 45%;
    margin: 10px;
}

.gorko {
    width: 22%;
    margin: 20px;
}

@media (max-width: 1025px) {
/*
    .mensallphoto {
        height: 160px;
    }
*/
    .showmanlooking .phone {
        font-size: 16px;
    }
    .showmanlooking h3 {
        font-size: 11px;
        letter-spacing: 2px;
    }
}
@media (min-width: 992px) {
/*
    .mensallphoto {
        height: 190px;
    }
*/
}
@media (min-width: 1200px) {
/*
    .mensallphoto {
        height: 235px;
    }
*/

}
