@font-face {
    font-family: TrajanPro3; /* Имя шрифта */
    src: url(/fonts/TrajanPro3-Regular.otf);
}
@font-face {
    font-family: ProximaNova; /* Имя шрифта */
    src: url(/fonts/ProximaNovaLight.otf); /* Путь к файлу со шрифтом */
}

@font-face{font-family:'Gilroy';src:url('/fonts/Gilroy-Light.otf');src:url('/fonts/Gilroy-Light.eot?#iefix') format('embedded-opentype'),
url('/fonts/Gilroy-Light.woff') format('woff'),
url('/fonts/Gilroy-Light.ttf') format('truetype'),
url('/fonts/Gilroy-Light.svg#JournalRegular') format('svg');font-weight:normal;font-style:normal;}
h2 {
    width: 100%;
    text-transform: uppercase;
    font: 17px TrajanPro3;
    text-align: center;
    letter-spacing: 1px;
    background-color: #000;
    color: #FFF;
    margin: 0px;
    padding: 13px 0px 8px;
}
h1 {
    text-transform: uppercase;
    text-align: center;
    font-family: Times New Roman;
    letter-spacing: 1px;
    font-weight: bold;
    margin: 15px 0;
    color: #000;
}
.looking-showman {
    margin-left:auto;
    margin-right:auto;
    width: 70%;
}
.looking-showman img {
    width: 100%;
}
.looking-showman h3 {
    font: 20px Gilroy;
    letter-spacing: 2px;
    font-weight: bold;
    margin: 13px 0;
}
.mobile-line {
    border-top: 1px solid #000;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}
.looking-showman p {
    text-align: left;
    font: 12px Gilroy;
    font-weight: bold;
}
.callshowman {
    margin: 20px 0;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}
.callshowman .phone {
    font: 17px Gilroy;
    color: #000;
    text-decoration: none;
    font-weight: bold;
    border-bottom: 1px dashed;
}
.callshowman h3 {
    font: 12px Gilroy;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 10px 0;
    color: #000;
}
.callshowman p{
    color: #b4b4b4;
    text-align: center;
    font-size: 14px;
}
.callshowman .socnetwork {
    margin-top: 25px;
}
.callshowman .socnetwork img {
    width: 40px;
    margin: 0px 4px;
    background: #E8E8E8;
    border-radius: 100%;
    opacity: .6;
    -webkit-transition: opacity .2s;
    transition: opacity .2s;
}
.callshowman .socnetwork img:active {
    opacity: 1;
    -webkit-transition: opacity .2s;
    transition: opacity .2s;
}
.mob-image {
    width:90%;
    margin-left: 5%;
    text-align: center;
}
.mob-image img {
    width: 27%;
    margin: 8px 2% 8px 2%;
}
.link-mob {
    margin-bottom: 20px;
    text-align: center;
}
.link-mob div {
    padding-top: 10px;
}
.link-mob a {
    color: #000;
    margin: 10px 5%;
    font: 20px Gilroy;
    border-bottom: 1px dashed #000;
    text-decoration: none;
}
.link-mob a:active {
    font-weight: bold;
}
.footer {
    margin-top: 25px;
    text-align: center;
    background-color: #000;
    color: #FFF;
    padding: 5px 0;
}
.footer h3 {
    font: 20px Gilroy;
    margin: 4px;
}
.footer p {
    font: 10px ProximaNova;
    margin: 4px;
}
.footer a {
    font: 11px ProximaNova;
    margin: 4px;
    color: #3e3e3e;
}
@media only screen and (max-device-width:321px) {
    h1 {
        font-size: 33px;
    }
    .callshowman {
         width: 80%;
    }

    .callshowman .phone {
        font-size: 15px;
    }
    .looking-showman p {
        font-size: 11px;
    }
    .looking-showman h3 {
        font-size: 14px;
    }
}
